<div class="{{@flip}}">
	<div class="workouts">
		<div class="el">
			<label for="mile{{@index}}">Mile</label>
			<input type="number" name="mile{{@index}}" value="{{@mileage}}" class="miles" />
		</div>	
		<div class="el">
			<label for="workout{{@index}}">Workout type</label>
			<select name="workout{{@index}}" class="exercise">
				<option value="-" selected="" disabled="">workout type</option>
				<option value="burpes">Burpes</option>
				<option value="jaxs">Jumping Jaxes</option>
				<option value="abs">Ab Work</option>
				<option value="monkey">Monkey Bars</option>
				<option value="pullups">pullups</option>
			</select>
		</div>
		<div class="el">
			<label for="quantity{{@index}}">Reps</label>
			<input type="number" name="quantity{{@index}}" class="reps" />
		</div>
		<div class="el">
			<label for="workoutcomment{{@index}}">Comments</label>
			<textarea class="comment" name="workoutcomment{{@index}}" col="1" row="2"></textarea>
		</div>
	</div>
</div>
