
<canvas id="workoutChart" width="400" height="400"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
const ctx = $("#workoutChart"),
	workouts = {{{workouts}}},
	datasets = [];
	workouts.forEach(function(workout){
		var dataset = {};
		dataset["label"] = workout.workout;
		dataset["data"] = workout.data;
		dataset["backgroundColor"] = 'rgba(255, 99, 132, 0.2)';
		dataset["borderColor"] = 'rgba(255, 99, 132, 1)';
		dataset["borderWidth"] = 1;
		datasets.push(dataset);
	});
const labels =  {{{label}}},
	data = {{{data}}},
	workoutChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: 'Workouts',
	            data: data,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
</script>
