<form action='/workout' method='GET'>
	<div id='selects'>
		<label for='date'>Date</label>
		<input type='date' name='date' id='date' required/>
		<label for='route'>Route</label>
		<input type='text' name='route' id='route' value='{{route}}' required/>
		<label for='distance'>Distance</label>
		<input type='number' step="any" name='distance' id='distance' value='{{distance}}' required/>
		<label for='interval'>Intervals</label>
		<input name='interval' id='interval'  value='{{interval}}' required/>
	</div>
	<div id="selects" class="btnbox">
		<input class='btn' type='submit' />
	</div>

</form>
<script>
	var today = new Date();
	$('#date').val(today.getFullYear()  + '-' +  ("0" + (today.getMonth() + 1)).slice(-2) + '-' + ("0" + today.getDate()).slice(-2));
	{{#route}}
		$('#distance').focus();
	{{/route}}
  	$( function() {
	  	const tags = '{{workoutArray}}',
	    	availableTags = tags.split(',');
	    $( "#route" ).autocomplete({
	      source: availableTags
	    });
	  });
  	$('#route').on('change',()=>{
  		window.location = '/workout/'+ $('#route').val();
  	});
  	$('.btn').on('click',()=>{
  		$('form').attr('action', '/workout/'+ $('#route').val() + "/" +  $('#date').val() + "/" +  $('#distance').val() + "/" +  $('#interval').val());
  	});

  </script>